stone-metal-stone-metal-01.yaml
stone-metal-stone-metal-02.yaml
stone-metal-stone-metal-03.yaml
stone-metal-stone-metal-04.yaml
stone-metal-stone-metal-05.yaml
stone-metal-stone-metal-06.yaml
talosconfig
stone-metal-01.yaml
stone-metal-02.yaml
stone-metal-03.yaml
