---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter-cyberpower-ups
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-snmp-exporter
      version: 9.6.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app
    image:
      repository: quay.io/prometheus/snmp-exporter
    serviceMonitor:
      enabled: true
      namespace: observability
      params:
        - name: ups
          module: ["cyberpower"]
          auth: ["public_v1"]
          target: rack-ups.${SECRET_INTERNAL_DOMAIN}
      path: /snmp
      scrapeTimeout: 20s
      relabelings:
        - sourceLabels: [__param_target]
          targetLabel: instance
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
