---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kube-prometheus-stack
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: kube-prometheus-stack-secret
    template:
      engineVersion: v2
      data:
        # Yo dawg I heard you like go templating so I put go templates in your go templates
        alertmanager.yaml: |
          global:
            resolve_timeout: 5m
            smtp_from: alert@stonehedges.net
            smtp_smarthost: "{{ .SMTP_RELAY_SERVER }}:587"
            smtp_require_tls: false
            slack_api_url: "{{ .ALERTMANAGER_SLACK_URL }}"
          route:
            group_by: ["alertname", "job"]
            group_interval: 10m
            group_wait: 1m
            receiver: slack
            repeat_interval: 12h
            routes:
              - receiver: heartbeat
                group_interval: 5m
                group_wait: 0s
                matchers:
                  - alertname =~ "Watchdog"
                repeat_interval: 5m
              - receiver: "null"
                matchers:
                  - alertname =~ "InfoInhibitor"
              - receiver: slack
                continue: true
                matchers:
                  - severity = "critical"
          inhibit_rules:
            - equal: ["alertname", "namespace"]
              source_matchers:
                - severity = "critical"
              target_matchers:
                - severity = "warning"
          receivers:
            - name: heartbeat
              webhook_configs:
                - send_resolved: true
                  url: "{{ .ALERTMANAGER_CLUSTER_MAIN_HEARTBEAT_URL }}"
            - name: "null"
            - name: slack
              slack_configs:
                - send_resolved: true
                  actions:
                    - type: button
                      text: 'Runbook :green_book:'
                      url: |-
                        {{ "{{" }} (index .Alerts 0).Annotations.runbook_url {{ "}}" }}
                    - type: button
                      text: 'Query :mag:'
                      url: |-
                        {{ "{{" }} (index .Alerts 0).GeneratorURL {{ "}}" }}
                    - type: button
                      text: 'Dashboard :chart_with_upwards_trend:'
                      url: |-
                        {{ "{{" }} (index .Alerts 0).Annotations.dashboard_url {{ "}}" }}
                  username: ren-bot[bot]
                  channel: #observability
                  title: |-
                    [{{ "{{" }} .Status | toUpper {{ "-}}" }}{{ "{{" }} if eq .Status "firing" {{ "}}" }}:{{ "{{" }} .Alerts.Firing | len {{ "}}" }}{{ "{{-" }} end {{ "-}}" }}] {{ "{{" }} .CommonLabels.alertname {{ "}}" }}
                  color: |-
                    {{ "{{" }} if eq .Status "firing" {{ "-}}" }}
                      {{ "{{" }} if eq .CommonLabels.severity "warning" {{ "-}}" }}
                        warning
                      {{ "{{-" }} else if eq .CommonLabels.severity "critical" {{ "-}}" }}
                        danger
                      {{ "{{-" }} else {{ "-}}" }}
                        #439FE0
                      {{ "{{-" }} end {{ "-}}" }}
                    {{ "{{" }} else {{ "-}}" }}
                      good
                    {{ "{{-" }} end {{ "}}" }}
                  text: >-
                    {{ "{{-" }} if eq .CommonLabels.severity "critical" {{ "-}}" }}
                      *Severity:* `Critical`
                    {{ "{{-" }} else if eq .CommonLabels.severity "warning" {{ "-}}" }}
                      *Severity:* `Warning`
                    {{ "{{-" }} else if eq .CommonLabels.severity "info" {{ "-}}" }}
                      *Severity:* `Info`
                    {{ "{{-" }} else {{ "-}}" }}
                      *Severity:* :question: {{ "{{" }} .CommonLabels.severity {{ "}}" }}
                    {{ "{{-" }} end {{ "}}" }}
                    {{ "{{-" }} if (index .Alerts 0).Annotations.summary {{ "}}" }}
                      {{ "{{-" }} "\n" {{ "-}}" }}
                      *Summary:* {{ "{{" }} (index .Alerts 0).Annotations.summary {{ "}}" }}
                    {{ "{{-" }} end {{ "}}" }}

                    {{ "{{" }} range .Alerts {{ "}}" }}
                      {{ "{{-" }} if .Annotations.description {{ "}}" }}
                        {{ "{{-" }} "\n" {{ "-}}" }}
                        {{ "{{" }} .Annotations.description {{ "}}" }}
                        {{ "{{-" }} "\n" {{ "-}}" }}
                      {{ "{{-" }} end {{ "}}" }}
                      {{ "{{-" }} if .Annotations.message {{ "}}" }}
                        {{ "{{-" }} "\n" {{ "-}}" }}
                        {{ "{{" }} .Annotations.message {{ "}}" }}
                        {{ "{{-" }} "\n" {{ "-}}" }}
                      {{ "{{-" }} end {{ "}}" }}
                    {{ "{{-" }} end {{ "}}" }}
        objstore.yml: |
          type: S3
          config:
            bucket: kube-prometheus-stack
            endpoint: "{{ .CLOUDFLARE_R2_ACCOUNT_ID }}.r2.cloudflarestorage.com"
            access_key: "{{ .AWS_ACCESS_KEY_ID }}"
            secret_key: "{{ .AWS_SECRET_ACCESS_KEY }}"
            insecure: false
            signature_version2: false
            put_user_metadata: {}
            http_config:
              idle_conn_timeout: 90s
              response_header_timeout: 2m
              insecure_skip_verify: false
  dataFrom:
    - extract:
        key: alertmanager
    - extract:
        key: smtp-relay
    - extract:
        key: cloudflare
