#shellcheck disable=SC2148,SC2155
export KUBECONFIG="$(expand_path ./.kubeconfig)"
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
export TALOSCONFIG="$(expand_path .talosconfig)"
export MINIJINJA_CONFIG_FILE="$(expand_path ./.minijinja.toml)"
export TF_VAR_onepassword_account="$(op account list --format json | jq -r '.[0].user_uuid')"
export TF_VAR_readarr_url="op://STONEHEDGES/readarr/READARR_URL"
export TF_CLI_CONFIG_FILE="$(pwd)/terraform/media/terraform.tfrc.dev"
export TFE_PARALLELISM=5
# Bin
PATH_add "$(expand_path ./.bin)"
