---
apiVersion: apps.emqx.io/v2beta1
kind: EMQX
metadata:
  name: emqx
  namespace: database
spec:
  image: public.ecr.aws/emqx/emqx:5.8.7
  config:
    data: |
      authentication {
        enable = true
        backend = "built_in_database"
        mechanism = "password_based"
        password_hash_algorithm {
            name = "bcrypt"
        }
        user_id_type = "username"
        bootstrap_file = "/secrets/init-user.json"
        bootstrap_type = "plain"
      }
      authorization {
        no_match = "deny"
        deny_action = "ignore"
        sources = [
          {
            type = file
            enable = true
            path = "/secrets/acl.conf"
          }
        ]
      }
  bootstrapAPIKeys:
    - secretRef:
        key:
          secretName: emqx-secret
          secretKey: X_EMQX_APIKEY_KEY
        secret:
          secretName: emqx-secret
          secretKey: X_EMQX_APIKEY_SECRET
  coreTemplate:
    metadata:
      annotations:
        reloader.stakater.com/auto: "true"
    spec:
      replicas: 3
      envFrom: &envFrom
        - secretRef:
            name: emqx-secret
      extraVolumes:
        - name: emqx-secret
          secret:
            secretName: emqx-secret
      extraVolumeMounts:
        - mountPath: "/secrets/init-user.json"
          name: emqx-secret
          subPath: init-user.json
          readOnly: true
        - mountPath: "/secrets/acl.conf"
          name: emqx-secret
          subPath: acl.conf
          readOnly: true
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
  listenersServiceTemplate:
    metadata:
      annotations:
        coredns.io/hostname: "emqx.${SECRET_DOMAIN}"
    spec:
      type: LoadBalancer
