---
apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: google-coral-tpu
spec:
  rules:
    - name: google.coral.usb
      labels:
        google.feature.node.kubernetes.io/coral: "true"
      matchFeatures:
        - feature: usb.device
          matchExpressions:
            vendor: { op: In, value: ["18d1"] }  # Google vendor IDs
            device: { op: In, value: ["9302"] }  # Coral TPU device ID
