---
apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: intel-gpu-device
spec:
  rules:
    - # All Intel GPUs
      name: intel.gpu
      labels:
        intel.feature.node.kubernetes.io/gpu: "true"
      matchFeatures:
        - feature: pci.device
          matchExpressions:
            vendor: { op: In, value: ["8086"] }
            class: { op: In, value: ["0300", "0380"] }

    - # Newer Intel GPUs (Gen11+, using iHD driver)
      name: intel.gpu.ihd
      labels:
        intel.feature.node.kubernetes.io/gpu-ihd: "true"
      matchFeatures:
        - feature: pci.device
          matchExpressions:
            vendor: { op: In, value: ["8086"] }
            class: { op: In, value: ["0300", "0380"] }
            # Added a7a0 for your Raptor Lake-P Iris Xe Graphics
            device: { op: In, value: ["8a56", "8a58", "8a5b", "8a5d", "8a71", "8a54", "8a5a", "8a5c", "8a7a", "9a49", "9a40", "9a78", "9a60", "9a68", "9a70", "a780", "a781", "a782", "a783", "a788", "a789", "a78a", "a78b", "a7a0"] }

    - # Older Intel GPUs (up to Gen10, using i965 driver)
      name: intel.gpu.i965
      labels:
        intel.feature.node.kubernetes.io/gpu-i965: "true"
      matchFeatures:
        - feature: pci.device
          matchExpressions:
            vendor: { op: In, value: ["8086"] }
            class: { op: In, value: ["0300", "0380"] }
            # Updated to exclude a7a0 as well
            device: { op: NotIn, value: ["8a56", "8a58", "8a5b", "8a5d", "8a71", "8a54", "8a5a", "8a5c", "8a7a", "9a49", "9a40", "9a78", "9a60", "9a68", "9a70", "a780", "a781", "a782", "a783", "a788", "a789", "a78a", "a78b", "a7a0"] }
