---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: emqx
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: emqx-secret
    template:
      engineVersion: v2
      data:
        EMQX_DASHBOARD__DEFAULT_USERNAME: "{{ .EMQX_DASHBOARD__DEFAULT_USERNAME }}"
        EMQX_DASHBOARD__DEFAULT_PASSWORD: "{{ .EMQX_DASHBOARD__DEFAULT_PASSWORD }}"
        X_EMQX_APIKEY_KEY: "{{ .X_EMQX_APIKEY_KEY }}"
        X_EMQX_APIKEY_SECRET: "{{ .X_EMQX_APIKEY_SECRET }}"
        init-user.json: |
          [
            {"user_id": "{{ .X_EMQX_HASS_USERNAME }}", "password": "{{ .X_EMQX_HASS_PASSWORD }}", "is_superuser": false},
            {"user_id": "{{ .X_EMQX_RATGDO_USERNAME }}", "password": "{{ .X_EMQX_RATGDO_PASSWORD }}", "is_superuser": false},
            {"user_id": "{{ .X_EMQX_ZIGBEE_USERNAME }}", "password": "{{ .X_EMQX_ZIGBEE_PASSWORD }}", "is_superuser": false},
            {"user_id": "{{ .X_EMQX_EXPORTER_USERNAME }}", "password": "{{ .X_EMQX_EXPORTER_PASSWORD }}", "is_superuser": false},
            {"user_id": "{{ .X_EMQX_RTLAMR2MQTT_USERNAME }}", "password": "{{ .X_EMQX_RTLAMR2MQTT_PASSWORD }}", "is_superuser": false},
            {"user_id": "{{ .X_EMQX_N8N_USERNAME }}", "password": "{{ .X_EMQX_N8N_PASSWORD }}", "is_superuser": false},
            {"user_id": "{{ .X_EMQX_NODERED_USERNAME }}", "password": "{{ .X_EMQX_NODERED_PASSWORD }}", "is_superuser": false},
            {"user_id": "{{ .X_EMQX_BATOCERA_USERNAME }}", "password": "{{ .X_EMQX_BATOCERA_PASSWORD }}", "is_superuser": false}
          ]
        acl.conf: |
          %% Default Allow All
          {allow, all}.
  dataFrom:
    - extract:
        key: emqx
