---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app resolver-unbound
spec:
  releaseName: unbound
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          dnsConfig:
            options:
              - { name: ndots, value: "1" }
        containers:
          unbound:
            image:
              repository: mvance/unbound
              tag: 1.22.0@sha256:76906da36d1806f3387338f15dcf8b357c51ce6897fb6450d6ce010460927e90
            resources:
              requests:
                memory: 500Mi
                cpu: 100m
          tools:
            image:
              repository: docker.io/library/busybox
              tag: latest@sha256:f85340bf132ae937d2c2a763b8335c9bab35d6e8293f70f606b9c6178d84f42b
            command: ['sh', '-c', 'sleep $(shuf -i 900-10000 -n 1)']
            resources:
              requests:
                memory: 500Mi
                cpu: 100m
    service:
      unbound:
        controller: unbound
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SECRET_VIP_UNBOUND}
        ports:
          dns-udp:
            enabled: true
            port: 53
            targetPort: 53
            protocol: UDP
          dns-tcp:
            enabled: true
            port: 53
            targetPort: 53
            protocol: TCP

    persistence:
      unbound-configmap:
        name: resolver-unbound-configmap
        type: configMap
        globalMounts:
          - path: /opt/unbound/etc/unbound/unbound.conf
            subPath: unbound.conf
            readOnly: true
