---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app resolver-nsd
spec:
  releaseName: nsd
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          main:
            image:
              repository: docker.io/publicarray/nsd
              tag: latest@sha256:912364791776bc31bb213922d46088c8ae6d83689357e2cfdb71566abdd7234d
            resources:
              requests:
                memory: 500Mi
                cpu: 100m
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          dns-udp:
            enabled: true
            port: 53
            targetPort: 53
            protocol: UDP
          dns-tcp:
            enabled: true
            port: 53
            targetPort: 53
            protocol: TCP
    persistence:
      nsd-conf:
        type: emptyDir
        globalMounts:
          - path: /etc/nsd
      nsd-run:
        type: emptyDir
        globalMounts:
          - path: /etc/nsd/run
      nsd-run-zonefiles:
        type: emptyDir
        globalMounts:
          - path: /etc/nsd/run/zonefiles
      nsd-configmap:
        name: resolver-nsd-configmap
        type: configMap
        globalMounts:
          - path: /etc/nsd/nsd.conf
            subPath: nsd.conf
            readOnly: true
          - path: /etc/nsd/opennic.conf
            subPath: opennic.conf
            readOnly: true
