---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cert-exporter-doom
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cert-exporter-doom-secret
    template:
      engineVersion: v2
      data:
        ACME_EMAIL: "{{ .CLOUDFLARE_EMAIL }}"
        CF_Token: "{{ .CLOUDFLARE_API_TOKEN }}"
        CF_Email: "{{ .CLOUDFLARE_EMAIL }}"
        DOMAINS: "doom.${SECRET_INTERNAL_DOMAIN} ${SECRET_NAS_DOOM}"
        DEPLOY_HOOK: "synology_dsm"
        SYNO_HOSTNAME: "{{ .SYNO_HOSTNAME }}"
        SYNO_USERNAME: "{{ .SYNO_USERNAME }}"
        SYNO_PASSWORD: "{{ .SYNO_PASSWORD }}"
        SYNO_SCHEME: "{{ .SYNO_SCHEME }}"
        SYNO_PORT: "{{ .SYNO_PORT }}"
  dataFrom:
    - extract:
        key: cloudflare
    - extract:
        key: synology-doom
