---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app resolver-dnscrypt
spec:
  releaseName: dnscrypt
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      dnscrypt:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          dnscrypt:
            image:
              repository: zquestz/dnscrypt-server
              tag: latest
            command: ["/entrypoint.sh", "start"]
            resources:
              requests:
                memory: 64Mi
          dnscrypt-init:
            image:
              repository: zquestz/dnscrypt-server
              tag: latest
            command: ["/entrypoint.sh", "init", "-A", "-M", "0.0.0.0:9100", "-N", "example.com", "-E", "127.0.0.1:5443"]
    service:
      dnscrypt:
        controller: dnscrypt
        type: LoadBalancer
        externalTrafficPolicy: Local
        ports:
          dnscrypt-udp:
            enabled: true
            port: 5443
            targetPort: 5443
            protocol: UDP
          dnscrypt-tcp:
            enabled: true
            port: 5443
            targetPort: 5443
            protocol: TCP
    persistence:
      dnscrypt-configmap:
        name: resolver-dnscrypt-configmap
        type: configMap
        globalMounts:
          - path: /opt/unbound/etc/unbound/encrypted-dns.toml
            subPath: encrypted-dns.toml
            readOnly: true
