---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: homeassistant
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: homeassistant-secret
    template:
      engineVersion: v2
      data:
        HOME_ASSISTANT_ECOBEE_API_KEY: "{{ .HOMEASSISTANT_ECOBEE_API_KEY }}"
        HOME_ASSISTANT_ELEVATION: "{{ .HOMEASSISTANT_ELEVATION }}"
        HOME_ASSISTANT_LATITUDE: "{{ .HOMEASSISTANT_LATITUDE }}"
        HOME_ASSISTANT_LONGITUDE: "{{ .HOMEASSISTANT_LONGITUDE }}"
        HOME_ASSISTANT_PIRATE_WEATHER_API_KEY: "{{ .HOMEASSISTANT_PIRATE_WEATHER_API_KEY }}"
        HOME_ASSISTANT_PROMETHEUS: "{{ .HOMEASSISTANT_PROMETHEUS }}"
        HOME_ASSISTANT_DATABASE_URL: "postgresql://{{.HOMEASSISTANT_POSTGRES_USER}}:{{.HOMEASSISTANT_POSTGRES_PASS}}@{{.HOMEASSISTANT_POSTGRES_HOST}}/{{.HOMEASSISTANT_POSTGRES_NAME}}"
        HOME_ASSISTANT_UNIFI_HOST: "{{.HOMEASSISTANT_UNIFI_HOST}}"
        HOME_ASSISTANT_UNIFI_USER: "{{.HOMEASSISTANT_UNIFI_USER}}"
        HOME_ASSISTANT_UNIFI_PASS: "{{.HOMEASSISTANT_UNIFI_PASS}}"
        INIT_POSTGRES_DBNAME: "{{.HOMEASSISTANT_POSTGRES_NAME}}"
  dataFrom:
    - extract:
        key: homeassistant
