# 1Password Connect Secret
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-connect-secret
  namespace: external-secrets
type: Opaque
stringData:
  1password-credentials.json: {{ op://STONEHEDGES/jgpib4bppxmzhcg4kmo5lkz4hm/1password-credentials-base64 }}
  token: {{ op://STONEHEDGES/gg7deoh3wga3jqlt6sqyfifzou/credential }}
