---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: homepage
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: homepage-secret
    template:
      engineVersion: v2
      data:
        # Generics
        HOMEPAGE_VAR_LATITUDE: "{{ .HOME_ASSISTANT_LATITUDE }}"
        HOMEPAGE_VAR_LONGITUDE: "{{ .HOME_ASSISTANT_LONGITUDE }}"

        ## Home
        HOMEPAGE_VAR_HOME_ASSISTANT_TOKEN: "{{ .HOME_ASSISTANT_HOMEPAGE_TOKEN }}"

        ## Security
        HOMEPAGE_VAR_AUTHENTIK_TOKEN: "{{ .HOMEPAGE_AUTHENTIK_TOKEN }}"

        ## Media
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .BAZARR_API_KEY }}"
        HOMEPAGE_VAR_LIDARR_TOKEN: "{{ .LIDARR_API_KEY }}"
        HOMEPAGE_VAR_OVERSEERR_TOKEN: "{{ .OVERSEERR_API_KEY }}"
        HOMEPAGE_VAR_PLEX_TOKEN: "{{ .PLEX_TOKEN }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .PROWLARR_API_KEY }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .RADARR_API_KEY }}"
        HOMEPAGE_VAR_READARR_TOKEN: "{{ .READARR_API_KEY }}"
        HOMEPAGE_VAR_SABNZBD_TOKEN: "{{ .SABNZBD_API_KEY }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .SONARR_API_KEY }}"
        HOMEPAGE_VAR_TAUTULLI_TOKEN: "{{ .TAUTULLI_API_KEY }}"
        HOMEPAGE_VAR_WIZARR_TOKEN: "{{ .WIZARR_API_KEY }}"
  dataFrom:
    - extract:
        key: bazarr
    - extract:
        key: lidarr
    - extract:
        key: overseerr
    - extract:
        key: plex
    - extract:
        key: prowlarr
    - extract:
        key: radarr
    - extract:
        key: readarr
    - extract:
        key: sabnzbd
    - extract:
        key: sonarr
    - extract:
        key: tautulli
    - extract:
        key: wizarr
    - extract:
        key: home-assistant
    - extract:
        key: authentik
