---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  # First apply standard HelmRelease Patch
  - target:
      kind: HelmRelease
    path: patches/helm-release.yaml
  # Second, remove the standard HelmRelease Patch for app-template and add it to the pod
  - target:
      kind: HelmRelease
      annotationSelector: "helm.toolkit.fluxcd.io/chart-name=app-template"
    path: patches/helm-release-app-template.yaml
